body{}
.wrap {
    background-color: #58ABFF;
    width:402px; height: 100vh;
    padding: 20px 15px;
    text-align: center;
    margin: 0 auto;
}
.wrap h2,/* 그룹선택자 (,) 기준으로 뒤 선택자 RESET, 부모부터 다시 쓰기 */ 
.wrap h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.wrap h2 {}
.wrap p {}
.wrap h2+p,
.wrap h3+p{
    font-size: 0.75rem;
    margin-bottom: 15px;
}
.wrap p > em {}
.wrap #content {
    margin:0 0 30px;
}
.wrap #content span {background-color: #ff0;}
.wrap h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
.wrap h3+p {font-size: 0.75rem; margin-bottom: 15px}
.wrap h2+p em {color: #f00;}
/* 수열선택자 이용 그룹 */
/* wrap p:nth-child(2) em {color:#f00;} */
.wrap p:nth-child(2),
.wrap p:nth-child(5) {}
.wrap .details {
    font-size: 1rem
}
.wrap .details em {
    text-decoration: underline;
}