/* ë””ìì¸ css */
body{}
#news {
    background-color:#FF7878 ;
    width:430px; height:932px;
    padding:15px 30px; 
}
/* >a, .box, >p */
#news > * {padding-bottom: 25px;}
#news > a {
    display:block;
    font-size: 1.25rem;
    font-weight: 600;
}
#news .box {}
#news .box a {}
#news .box a * {}
#news .box a h2 {
    display:inline-block;
    font-size: 1.88rem;
    font-weight: 300;
    padding-bottom: 25px;}
#news .box a p {
    display:inline-block;
    font-size: 0.88rem;
    }
#news > p {}
#news > p span {}